In [1]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

In [2]:
%%sql
select * from facts
inner join cities on facts.id = cities.facts_id
limit 10

 * sqlite:///factbook.db
Done.

[(216, 'aa', 'Aruba', 180, 180, 0, 112162, 1.33, 12.56, 8.18, 8.92, 1, 'Oranjestad', 37000, 1, '216'),
 (6, 'ac', 'Antigua and Barbuda', 442, 442, 0, 92436, 1.24, 15.85, 5.69, 2.21, 2, "Saint John'S", 27000, 1, '6'),
 (184, 'ae', 'United Arab Emirates', 83600, 83600, 0, 5779760, 2.58, 15.43, 1.97, 12.36, 3, 'Abu Dhabi', 942000, 1, '184'),
 (184, 'ae', 'United Arab Emirates', 83600, 83600, 0, 5779760, 2.58, 15.43, 1.97, 12.36, 4, 'Dubai', 1978000, 0, '184'),
 (184, 'ae', 'United Arab Emirates', 83600, 83600, 0, 5779760, 2.58, 15.43, 1.97, 12.36, 5, 'Sharjah', 983000, 0, '184'),
 (1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51, 6, 'Kabul', 3097000, 1, '1'),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92, 7, 'Algiers', 2916000, 1, '3'),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92, 8, 'Oran', 783000, 0, '3'),
 (11, 'aj', 'Azerbaijan', 86600, 82629, 3971, 9780780, 0.96, 16.64, 7.07, 0.0, 9, 'Baku', 2123000, 1, '11'),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3, 10, 'Tirana', 419000, 1, '2')]

In [6]:
%%sql
SELECT c.*, f.name as country_name FROM facts as f
INNER JOIN cities as c ON c.facts_id = f.id
LIMIT 5

 * sqlite:///factbook.db
Done.

[(1, 'Oranjestad', 37000, 1, '216', 'Aruba'),
 (2, "Saint John'S", 27000, 1, '6', 'Antigua and Barbuda'),
 (3, 'Abu Dhabi', 942000, 1, '184', 'United Arab Emirates'),
 (4, 'Dubai', 1978000, 0, '184', 'United Arab Emirates'),
 (5, 'Sharjah', 983000, 0, '184', 'United Arab Emirates')]

In [8]:
%%sql
SELECT f.name as country_name, c.name as capital_city FROM cities c
INNER JOIN facts f ON f.id = c.facts_id
WHERE c.capital = 1

 * sqlite:///factbook.db
Done.

[('Aruba', 'Oranjestad'),
 ('Antigua and Barbuda', "Saint John'S"),
 ('United Arab Emirates', 'Abu Dhabi'),
 ('Afghanistan', 'Kabul'),
 ('Algeria', 'Algiers'),
 ('Azerbaijan', 'Baku'),
 ('Albania', 'Tirana'),
 ('Armenia', 'Yerevan'),
 ('Andorra', 'Andorra La Vella'),
 ('Angola', 'Luanda'),
 ('American Samoa', 'Pago Pago'),
 ('Argentina', 'Buenos Aires'),
 ('Australia', 'Canberra'),
 ('Austria', 'Vienna'),
 ('Anguilla', 'The Valley'),
 ('Bahrain', 'Manama'),
 ('Barbados', 'Bridgetown'),
 ('Botswana', 'Gaborone'),
 ('Bermuda', 'Hamilton'),
 ('Belgium', 'Brussels'),
 ('Bahamas, The', 'Nassau'),
 ('Bangladesh', 'Dhaka'),
 ('Belize', 'Belmopan'),
 ('Bosnia and Herzegovina', 'Sarajevo'),
 ('Bolivia', 'La Paz'),
 ('Burma', 'Rangoon'),
 ('Benin', 'Porto-Novo'),
 ('Belarus', 'Minsk'),
 ('Solomon Islands', 'Honiara'),
 ('Brazil', 'Brasilia'),
 ('Bhutan', 'Thimphu'),
 ('Bulgaria', 'Sofia'),
 ('Brunei', 'Bandar Seri Begawan'),
 ('Burundi', 'Bujumbura'),
 ('Canada', 'Ottawa'),
 ('Cambodia', 'Phnom Penh'),
 ('Chad', "N'Djamena"),
 ('Sri Lanka', 'Colombo'),
 ('Congo, Republic of the', 'Brazzaville'),
 ('Congo, Democratic Republic of the', 'Kinshasa'),
 ('China', 'Beijing'),
 ('Chile', 'Santiago'),
 ('Cayman Islands', 'George Town'),
 ('Cameroon', 'Yaounde'),
 ('Comoros', 'Moroni'),
 ('Colombia', 'Bogota'),
 ('Northern Mariana Islands', 'Saipan'),
 ('Costa Rica', 'San Jose'),
 ('Central African Republic', 'Bangui'),
 ('Cuba', 'Havana'),
 ('Cabo Verde', 'Praia'),
 ('Cyprus', 'Nicosia'),
 ('Denmark', 'Copenhagen'),
 ('Djibouti', 'Djibouti'),
 ('Dominica', 'Roseau'),
 ('Dominican Republic', 'Santo Domingo'),
 ('Ecuador', 'Quito'),
 ('Egypt', 'Cairo'),
 ('Ireland', 'Dublin'),
 ('Equatorial Guinea', 'Malabo'),
 ('Estonia', 'Tallinn'),
 ('Eritrea', 'Asmara'),
 ('El Salvador', 'San Salvador'),
 ('Ethiopia', 'Addis Ababa'),
 ('Czech Republic', 'Prague'),
 ('Finland', 'Helsinki'),
 ('Fiji', 'Suva'),
 ('Falkland Islands (Islas Malvinas)', 'Stanley'),
 ('Micronesia, Federated States of', 'Palikir'),
 ('Faroe Islands', 'Torshavn'),
 ('French Polynesia', 'Papeete'),
 ('France', 'Paris'),
 ('Gambia, The', 'Banjul'),
 ('Gabon', 'Libreville'),
 ('Georgia', 'Tbilisi'),
 ('Ghana', 'Accra'),
 ('Grenada', "Saint George'S"),
 ('Greenland', 'Nuuk'),
 ('Germany', 'Berlin'),
 ('Guam', 'Hagatna'),
 ('Greece', 'Athens'),
 ('Guatemala', 'Guatemala City'),
 ('Guinea', 'Conakry'),
 ('Guyana', 'Georgetown'),
 ('Haiti', 'Port-Au-Prince'),
 ('Honduras', 'Tegucigalpa'),
 ('Croatia', 'Zagreb'),
 ('Hungary', 'Budapest'),
 ('Iceland', 'Reykjavik'),
 ('Indonesia', 'Jakarta'),
 ('Isle of Man', 'Douglas'),
 ('India', 'New Delhi'),
 ('Iran', 'Tehran'),
 ('Israel', 'Jerusalem'),
 ('Italy', 'Rome'),
 ("Cote d'Ivoire", 'Yamoussoukro'),
 ('Iraq', 'Baghdad'),
 ('Japan', 'Tokyo'),
 ('Jamaica', 'Kingston'),
 ('Jordan', 'Amman'),
 ('Kenya', 'Nairobi'),
 ('Kyrgyzstan', 'Bishkek'),
 ('Korea, North', 'Pyongyang'),
 ('Kiribati', 'Tarawa'),
 ('Korea, South', 'Seoul'),
 ('Kuwait', 'Kuwait'),
 ('Kazakhstan', 'Astana'),
 ('Laos', 'Vientiane'),
 ('Lebanon', 'Beirut'),
 ('Latvia', 'Riga'),
 ('Lithuania', 'Vilnius'),
 ('Liberia', 'Monrovia'),
 ('Slovakia', 'Bratislava'),
 ('Liechtenstein', 'Vaduz'),
 ('Lesotho', 'Maseru'),
 ('Luxembourg', 'Luxembourg'),
 ('Libya', 'Tripoli'),
 ('Madagascar', 'Antananarivo'),
 ('Moldova', 'Chisinau'),
 ('Mongolia', 'Ulaanbaatar'),
 ('Malawi', 'Lilongwe'),
 ('Montenegro', 'Podgorica'),
 ('Macedonia', 'Skopje'),
 ('Mali', 'Bamako'),
 ('Morocco', 'Rabat'),
 ('Mauritius', 'Port Louis'),
 ('Mauritania', 'Nouakchott'),
 ('Malta', 'Valletta'),
 ('Oman', 'Muscat'),
 ('Maldives', 'Male'),
 ('Mexico', 'Mexico City'),
 ('Malaysia', 'Kuala Lumpur'),
 ('Mozambique', 'Maputo'),
 ('New Caledonia', 'Noumea'),
 ('Niger', 'Niamey'),
 ('Vanuatu', 'Port-Vila'),
 ('Nigeria', 'Abuja'),
 ('Netherlands', 'Amsterdam'),
 ('Norway', 'Oslo'),
 ('Nepal', 'Kathmandu'),
 ('Suriname', 'Paramaribo'),
 ('Nicaragua', 'Managua'),
 ('New Zealand', 'Wellington'),
 ('South Sudan', 'Juba'),
 ('Paraguay', 'Asuncion'),
 ('Peru', 'Lima'),
 ('Pakistan', 'Islamabad'),
 ('Poland', 'Warsaw'),
 ('Panama', 'Panama City'),
 ('Portugal', 'Lisbon'),
 ('Papua New Guinea', 'Port Moresby'),
 ('Palau', 'Melekeok'),
 ('Guinea-Bissau', 'Bissau'),
 ('Qatar', 'Doha'),
 ('Serbia', 'Belgrade'),
 ('Marshall Islands', 'Majuro'),
 ('Romania', 'Bucharest'),
 ('Philippines', 'Manila'),
 ('Puerto Rico', 'San Juan'),
 ('Russia', 'Moscow'),
 ('Rwanda', 'Kigali'),
 ('Saudi Arabia', 'Riyadh'),
 ('Saint Pierre and Miquelon', 'Saint-Pierre'),
 ('Saint Kitts and Nevis', 'Basseterre'),
 ('Seychelles', 'Victoria'),
 ('South Africa', 'Pretoria'),
 ('Senegal', 'Dakar'),
 ('Saint Helena, Ascension, and Tristan da Cunha', 'Jamestown'),
 ('Slovenia', 'Ljubljana'),
 ('Sierra Leone', 'Freetown'),
 ('Somalia', 'Mogadishu'),
 ('Spain', 'Madrid'),
 ('Saint Lucia', 'Castries'),
 ('Sudan', 'Khartoum'),
 ('Sweden', 'Stockholm'),
 ('Syria', 'Damascus'),
 ('Switzerland', 'Bern'),
 ('Trinidad and Tobago', 'Port-Of-Spain'),
 ('Thailand', 'Bangkok'),
 ('Tajikistan', 'Dushanbe'),
 ('Turks and Caicos Islands', 'Grand Turk'),
 ('Togo', 'Lome'),
 ('Sao Tome and Principe', 'Sao Tome'),
 ('Tunisia', 'Tunis'),
 ('Timor-Leste', 'Dili'),
 ('Turkey', 'Ankara'),
 ('Tuvalu', 'Funafuti'),
 ('Turkmenistan', 'Ashgabat'),
 ('Tanzania', 'Dar Es Salaam'),
 ('Uganda', 'Kampala'),
 ('United Kingdom', 'London'),
 ('Ukraine', 'Kyiv'),
 ('United States', 'Washington, D.C.'),
 ('Burkina Faso', 'Ouagadougou'),
 ('Uruguay', 'Montevideo'),
 ('Uzbekistan', 'Tashkent'),
 ('Saint Vincent and the Grenadines', 'Kingstown'),
 ('Venezuela', 'Caracas'),
 ('British Virgin Islands', 'Road Town'),
 ('Vietnam', 'Hanoi'),
 ('Virgin Islands', 'Charlotte Amalie'),
 ('Namibia', 'Windhoek'),
 ('Wallis and Futuna', 'Mata-Utu'),
 ('Samoa', 'Apia'),
 ('Swaziland', 'Mbabane'),
 ('Yemen', 'Sanaa'),
 ('Zambia', 'Lusaka'),
 ('Zimbabwe', 'Harare')]

In [9]:
%%sql
SELECT facts.name country, facts.population FROM facts
LEFT JOIN cities c ON c.facts_id=facts.id
WHERE c.name IS NULL

 * sqlite:///factbook.db
Done.

[('Kosovo', 1870981),
 ('Monaco', 30535),
 ('Nauru', 9540),
 ('San Marino', 33020),
 ('Singapore', 5674472),
 ('Holy See (Vatican City)', 842),
 ('Taiwan', 23415126),
 ('European Union', 513949445),
 ('Ashmore and Cartier Islands', None),
 ('Christmas Island', 1530),
 ('Cocos (Keeling) Islands', 596),
 ('Coral Sea Islands', None),
 ('Heard Island and McDonald Islands', None),
 ('Norfolk Island', 2210),
 ('Hong Kong', 7141106),
 ('Macau', 592731),
 ('Clipperton Island', None),
 ('French Southern and Antarctic Lands', None),
 ('Saint Barthelemy', 7237),
 ('Saint Martin', 31754),
 ('Curacao', 148406),
 ('Sint Maarten', 39689),
 ('Cook Islands', 9838),
 ('Niue', 1190),
 ('Tokelau', 1337),
 ('Bouvet Island', None),
 ('Jan Mayen', None),
 ('Svalbard', 1872),
 ('Akrotiri', 15700),
 ('British Indian Ocean Territory', None),
 ('Dhekelia', 15700),
 ('Gibraltar', 29258),
 ('Guernsey', 66080),
 ('Jersey', 97294),
 ('Montserrat', 5241),
 ('Pitcairn Islands', 48),
 ('South Georgia and South Sandwich Islands', None),
 ('Navassa Island', None),
 ('Wake Island', None),
 ('United States Pacific Island Wildlife Refuges', None),
 ('Antarctica', 0),
 ('Gaza Strip', 1869055),
 ('Paracel Islands', None),
 ('Spratly Islands', None),
 ('West Bank', 2785366),
 ('Arctic Ocean', None),
 ('Atlantic Ocean', None),
 ('Indian Ocean', None),
 ('Pacific Ocean', None),
 ('Southern Ocean', None),
 ('World', 7256490011)]

In [18]:
%%sql
select c.name capital_city, f.name country, c.population from facts as f
INNER join cities c on c.facts_id=f.id
WHERE c.capital=1
order by c.population DESC
limit 10

 * sqlite:///factbook.db
Done.

[('Tokyo', 'Japan', 37217000),
 ('New Delhi', 'India', 22654000),
 ('Mexico City', 'Mexico', 20446000),
 ('Beijing', 'China', 15594000),
 ('Dhaka', 'Bangladesh', 15391000),
 ('Buenos Aires', 'Argentina', 13528000),
 ('Manila', 'Philippines', 11862000),
 ('Moscow', 'Russia', 11621000),
 ('Cairo', 'Egypt', 11169000),
 ('Jakarta', 'Indonesia', 9769000)]

In [19]:
%%sql
SELECT c.name capital_city, f.name country, c.population FROM facts f
INNER JOIN (SELECT * FROM cities
            WHERE population>10000000 and capital=1) 
            c ON c.facts_id = f.id
ORDER BY c.population DESC

 * sqlite:///factbook.db
Done.

[('Tokyo', 'Japan', 37217000),
 ('New Delhi', 'India', 22654000),
 ('Mexico City', 'Mexico', 20446000),
 ('Beijing', 'China', 15594000),
 ('Dhaka', 'Bangladesh', 15391000),
 ('Buenos Aires', 'Argentina', 13528000),
 ('Manila', 'Philippines', 11862000),
 ('Moscow', 'Russia', 11621000),
 ('Cairo', 'Egypt', 11169000)]

In [24]:
%%sql
SELECT f.name country, c.urban_pop, f.population total_pop, CAST(c.urban_pop as Float)/CAST(f.population as Float) urban_pct from facts f
INNER JOIN (SELECT facts_id,SUM(population) urban_pop from cities GROUP BY facts_id) c ON c.facts_id = f.id
WHERE urban_pct > 0.5
ORDER BY urban_pct

 * sqlite:///factbook.db
Done.

[('Uruguay', 1672000, 3341893, 0.5003152404939356),
 ('Congo, Republic of the', 2445000, 4755097, 0.5141850944365594),
 ('Brunei', 241000, 429646, 0.5609269026128487),
 ('New Caledonia', 157000, 271615, 0.5780240413821034),
 ('Virgin Islands', 60000, 103574, 0.5792959623071428),
 ('Falkland Islands (Islas Malvinas)', 2000, 3361, 0.5950609937518596),
 ('Djibouti', 496000, 828324, 0.5987995035758954),
 ('Australia', 13789000, 22751014, 0.6060828761302683),
 ('Iceland', 206000, 331918, 0.6206352171319423),
 ('Israel', 5226000, 8049314, 0.6492478737939655),
 ('United Arab Emirates', 3903000, 5779760, 0.6752875551926032),
 ('Puerto Rico', 2475000, 3598357, 0.6878139106264332),
 ('Bahamas, The', 254000, 324597, 0.7825087724162577),
 ('Kuwait', 2406000, 2788534, 0.8628189579183901),
 ('Saint Pierre and Miquelon', 5000, 5657, 0.8838607035531201),
 ('Guam', 169000, 161785, 1.0445962233828847),
 ('Northern Mariana Islands', 56000, 52344, 1.0698456365581537),
 ('American Samoa', 64000, 54343, 1.1777045801667188)]