In [1]:
import sqlite3
conn = sqlite3.connect('jobs.db')

In [3]:
cursor = conn.cursor()
query = "select Major from recent_grads;"
cursor.execute(query)
results = cursor.fetchall()
print(results[0:3])

[('PETROLEUM ENGINEERING',), ('MINING AND MINERAL ENGINEERING',), ('METALLURGICAL ENGINEERING',)]

In [5]:
query = "SELECT Major, Major_category FROM recent_grads;"
cursor.execute(query)

five_results = cursor.fetchmany(5)

In [6]:
conn.close()

In [8]:
conn = sqlite3.connect('jobs2.db')

cursor = conn.cursor()
query = "select Major from recent_grads order by Major desc;"

reverse_alphabetical = cursor.execute(query).fetchall()

conn.close()

In [9]:
print(five_results)

[('PETROLEUM ENGINEERING', 'Engineering'), ('MINING AND MINERAL ENGINEERING', 'Engineering'), ('METALLURGICAL ENGINEERING', 'Engineering'), ('NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering'), ('CHEMICAL ENGINEERING', 'Engineering')]

In [11]:
print(reverse_alphabetical[:5])

[('ZOOLOGY',), ('VISUAL AND PERFORMING ARTS',), ('UNITED STATES HISTORY',), ('TREATMENT THERAPY PROFESSIONS',), ('TRANSPORTATION SCIENCES AND TECHNOLOGIES',)]